* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #9ea0a3, #adafb1, #bcbec0, #cbcdcf, #dadcde);
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#grid-container {
    min-width: 400px;
    min-height: 400px;
}

#grid {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    background-color: white;
    flex: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
